# EDA - Songwriter

In [22]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pickle
import seaborn as sns
from sqlalchemy import create_engine

## Loading In Data

In [5]:
engine = create_engine('postgresql://postgres:glide-mortuary-pod-cloy-belong@ec2-54-244-70-11.us-west-2.compute.amazonaws.com:5432/postgres')
engine.connect()

In [166]:
spotify_songs = pd.read_sql('SELECT DISTINCT * FROM spotify_song_list', con=engine, index_col='s_song_id')
spotify_artists = pd.read_sql('select * from spotify_artists', con=engine, index_col='s_artist_id')

In [251]:
songwriter_df = pd.read_csv('../data/songwriter_df.csv', index_col = 0)
spotify_features = pd.read_csv('../data/spotify_song_feat.csv')
genify = pd.read_csv('../data/genify.csv', index_col = 0)

In [253]:
songwriter_df.head()

   g_song_id  writer_id     writer_name  for_project
0          1      27663  The Heatmakerz        False
1          1          1         Cam’ron        False
2          3       9768       Irv Gotti        False
3          3     644832        H. Davis        False
4          3     214470    B. Bacharach        False

## Songwriter Summary Statistics

In [254]:
songwriter_df['in_matched_songs'] = songwriter_df['g_song_id'].apply(lambda x: 1 if x in matched_songs['g_song_id'] else 0)

In [255]:
songwriter_df['in_matched_songs'].value_counts()

0    300429
1      8808
Name: in_matched_songs, dtype: int64

In [256]:
ms_songwriters = songwriter_df[songwriter_df['in_matched_songs'] == 1]

In [257]:
ms_songwriters.head()

    g_song_id  writer_id        writer_name  for_project  in_matched_songs
31         14       2260         DJ Premier         True                 1
32         14          2              JAY-Z         True                 1
38         17      20314          No Malice         True                 1
39         17      26832          Chad Hugo         True                 1
40         17        110  Pharrell Williams         True                 1

In [261]:
matched_songs['g_song_id'].nunique()

7901

### Number of Songwriters Per Song Matched

##### Average Number

In [258]:
ms_songwriters.g_song_id.nunique()

3109

##### Number of Songwriters & Number of Songs per Songwriter

There's a total of 2486 songwriters that I have currently.

Out of all of those songwriters, 2065 of them have written on less than 4 works. That leaves 421 "prolific" writers.

In [172]:
genify.head()

,s_song_id,album_release_date,artist_id,artist_name,duration_ms,explicit,linked_album,song_title,artist_name_n,song_title_n,g_song_id,g_song_name,g_artist,g_artist_id,writers,g_artist_n,g_song_name_n
0,62bOmKYxYg7dhrC6gH9vFn,2000-03-21,6Ff53KvcvAj5U7Z1vojB5o,*NSYNC,200400.0,False,No Strings Attached,Bye Bye Bye,nsync,bye bye bye,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46n2EGFnPC3tzWCN1Aqe26,2000-03-21,6Ff53KvcvAj5U7Z1vojB5o,*NSYNC,284760.0,False,No Strings Attached,This I Promise You,nsync,this i promise you,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2AW37v0bDyuOzGP3XnmFuA,2000-03-21,6Ff53KvcvAj5U7Z1vojB5o,*NSYNC,192426.0,False,No Strings Attached,It's Gonna Be Me,nsync,it's gonna be me,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,594M0rqYMOo8BhMGEdoi5C,1997-05-26,6Ff53KvcvAj5U7Z1vojB5o,*NSYNC,211000.0,False,'N Sync,Tearin' up My Heart - Radio Edit,nsync,tearin' up my heart - radio edit,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0Jc8qF1mUPo1A96HE9QxZz,2001-07-24,6Ff53KvcvAj5U7Z1vojB5o,*NSYNC,238426.0,False,Celebrity,Pop,nsync,pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
spotify_features.head()

,id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,62bOmKYxYg7dhrC6gH9vFn,0.610,0.926,8,-4.843,0,0.0479,0.0310,0.001200,0.0821,0.861,172.638,200400,4
1,46n2EGFnPC3tzWCN1Aqe26,0.550,0.587,2,-6.279,1,0.0329,0.3540,0.000000,0.1280,0.466,165.975,284760,4
2,2AW37v0bDyuOzGP3XnmFuA,0.636,0.873,0,-4.672,0,0.0710,0.0407,0.000001,0.0372,0.908,165.071,192427,4
3,594M0rqYMOo8BhMGEdoi5C,0.686,0.915,7,-4.447,1,0.0364,0.0028,0.000007,0.2330,0.796,110.054,211000,4
4,0Jc8qF1mUPo1A96HE9QxZz,0.706,0.861,11,-6.684,1,0.1540,0.0341,0.000000,0.1270,0.923,119.946,238427,4

In [175]:
spotify_artists.head()

,name,popularity,followers,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,...,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18
s_artist_id,,,,,,,,,,,,,,,,,,,,,
6Ff53KvcvAj5U7Z1vojB5o,*NSYNC,71,747136.0,'boy band','dance pop','europop','pop','post-teen pop',None,None,...,None,None,None,None,None,None,None,None,None,None
1bDWGdIC2hardyt55nlQgG,"""Weird Al"" Yankovic",59,337751.0,'antiviral pop','comedy rock','comic',None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
0REMf7H0VP6DwfZ9MbuWph,10 Years,60,243895.0,'alternative metal','nu metal','post-grunge','rap metal','rap rock',None,None,...,None,None,None,None,None,None,None,None,None,None
0MBIKH9DjtBkv8O3nS6szj,"10,000 Maniacs",52,108829.0,'alternative rock','folk','folk-pop','lilith','mellow gold','new wave pop','pop rock',...,None,None,None,None,None,None,None,None,None,None
7urq0VfqxEYEEiZUkebXT4,112,68,455231.0,'boy band','dance pop','gangster rap','hip hop','hip pop','new jack swing','pop rap',...,'southern hip hop','urban contemporary',None,None,None,None,None,None,None,None

In [35]:
spotify_songs.reset_index(inplace=True)

In [176]:
genify.columns

Index(['s_song_id', 'album_release_date', 'artist_id', 'artist_name',
       'duration_ms', 'explicit', 'linked_album', 'song_title',
       'artist_name_n', 'song_title_n', 'g_song_id', 'g_song_name', 'g_artist',
       'g_artist_id', 'writers', 'g_artist_n', 'g_song_name_n'],
      dtype='object')

In [70]:
spotify_artists.shape

(2449, 22)

In [178]:
with open('../pickle/songs_w_writers.pkl', 'rb') as f:
    songs_w_writers = pickle.load(f)

In [179]:
genify['writers'].value_counts()

1.0    8084
0.0    6519
Name: writers, dtype: int64

In [134]:
genify.columns

Index(['s_song_id', 'album_release_date', 'artist_id', 'artist_name',
       'duration_ms', 'explicit', 'linked_album', 'song_title',
       'artist_name_n', 'song_title_n', 'g_song_id', 'g_song_name', 'g_artist',
       'g_artist_id', 'writers', 'g_artist_n', 'g_song_name_n'],
      dtype='object')

In [196]:
genify['artist_name'].value_counts()

Andrew Lloyd Webber                              28
John Lennon                                      17
Fabolous                                         15
Barbra Streisand                                 15
Doris Day                                        14
Van Morrison                                     14
Michael Jackson                                  14
The Beach Boys                                   14
Willie Nelson                                    14
Master P                                         14
Eric Clapton                                     14
Justin Timberlake                                13
Elton John                                       13
Ray Parker, Jr.                                  13
Elvis Costello                                   13
London Philharmonic Orchestra                    13
Zapp                                             13
2Pac                                             12
Kenny Loggins                                    12
The Rolling Stones                               12
Britney Spears                                   12
Elvis Presley                                    12
Dolly Parton                                     12
Baby Bash                                        12
Mark Knopfler                                    12
U2                                               12
Cher                                             12
Big Pun                                          12
Whitney Houston                                  12
David Bowie                                      12
                                                 ..
Eric Darius                                       1
Dag Savage                                        1
Paul Speer                                        1
Tomaso Albinoni                                   1
Philip Quast                                      1
James Sanderson                                   1
HoodRich Pablo Juan                               1
504 Boyz                                          1
David Banner                                      1
G. Harrison                                       1
Willie Nelson & Roger Miller (with Ray Price)     1
Brian Reitzell                                    1
Levon Helm                                        1
Mark Slaughter                                    1
Arcangel                                          1
MC Kevinho                                        1
Burt Reynolds                                     1
Gustav Holst                                      1
Rotary Connection                                 1
Lotus                                             1
Shannon Purser                                    1
Masta Killa                                       1
Joey Montana                                      1
Troy                                              1
Claude Debussy                                    1
George Clinton                                    1
Camaron De La Isla                                1
Marketa Irglova and Glen Hansard                  1
Dave East                                         1
Tuxedo                                            1
Name: artist_name, Length: 2805, dtype: int64

##### Drop Followers from `spotify_artists`

In [198]:
spotify_artists.drop('followers', 1, inplace=True)

In [199]:
spotify_artists.drop_duplicates(inplace=True)

#### Merge Songs & Artists to look into Genres

In [201]:
songs_artists_genres = pd.merge(genify, spotify_artists, validate="one_to_many", how='left', 
                                left_index=True, left_on='artist_id', right_on='s_artist_id')

In [202]:
songs_artists_genres.reset_index(inplace=True)

In [88]:
songs_artists_genres = pd.merge(songs_artists_genres, genify[['s_song_id','writers']], on='s_song_id')

In [58]:
songs_artists_genres = pd.merge(songs_artists_genres, genify['writers'])

In [203]:
songs_artists_genres.shape

(23139, 39)

In [208]:
matched_songs = songs_artists_genres[songs_artists_genres['writers'] == 1.0]

In [209]:
matched_songs.shape

(8084, 39)

#### Looking at the "Most Prolific Songwriter"

Apparently, it's eminem. I'll output his genius songs and look at it against the `matched_songs` listing.

EDIT: It probably *isn't* eminem. I'll need to re-filter my list of songwriters.

In [238]:
eminem_songs = project_songwriters['g_song_id'][project_songwriters['writer_name'] == "Eminem"]
eminem_songs = eminem_songs.reset_index()
eminem_songs.drop('index', 1, inplace=True)

In [243]:
matched_songs[matched_songs['g_song_id'].isin(eminem_songs['g_song_id'])]

,s_artist_id,s_song_id,album_release_date,artist_id,artist_name,duration_ms,explicit,linked_album,song_title,artist_name_n,...,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18
77,1ZwdS5xdxEREPySFridCfh,7jLbTp3qZzah9kMIdW8e5M,2004-01-01,1ZwdS5xdxEREPySFridCfh,2Pac,238053.0,True,Loyal To The Game,Ghetto Gospel,2pac,...,None,None,None,None,None,None,None,None,None,None
555,0z4gvV4rjIZ9wHck67ucSV,2kQuhkFX7uSVepCD3h29g5,2006-01-01,0z4gvV4rjIZ9wHck67ucSV,Akon,212360.0,True,Konvicted,Smack That,akon,...,None,None,None,None,None,None,None,None,None,None
1657,77IURH5NC56Jn09QHi76is,3ko0QVFzy4DdhuqTbMIeJZ,2011-01-01,77IURH5NC56Jn09QHi76is,Bad Meets Evil,295066.0,True,Hell: The Sequel (Deluxe),Echo,bad meets evil,...,None,None,None,None,None,None,None,None,None,None
4684,5Qi4Bb7a8C0a00NZcA77L0,5IweeQZdY5XEzStLzUJG5t,2001-01-01,5Qi4Bb7a8C0a00NZcA77L0,D12,304506.0,True,Devils Night,Purple Pills,d12,...,None,None,None,None,None,None,None,None,None,None
4685,5Qi4Bb7a8C0a00NZcA77L0,3vBv2Tp0kHyBDUBZJr9GXQ,2001-01-01,5Qi4Bb7a8C0a00NZcA77L0,D12,261093.0,True,Devils Night,Fight Music,d12,...,None,None,None,None,None,None,None,None,None,None
4689,5Qi4Bb7a8C0a00NZcA77L0,03NIra3KSLDgnqgIiQJNow,2000-01-01,5Qi4Bb7a8C0a00NZcA77L0,D12,330333.0,True,Shit On You,Shit On You,d12,...,None,None,None,None,None,None,None,None,None,None
12199,3vDUJHQtqT3jFRZ2ECXDTi,0B2ZuTLZnWQ6gz8RlNwBu1,2004-01-01,3vDUJHQtqT3jFRZ2ECXDTi,Lloyd Banks,187280.0,True,The Hunger For More,On Fire,lloyd banks,...,None,None,None,None,None,None,None,None,None,None
14799,2XnnxQzxFZG8qEPjakokPM,7tszeVkfxO5ISkjZWpIG88,2003-01-01,2XnnxQzxFZG8qEPjakokPM,Obie Trice,227026.0,True,Cheers,Got Some Teeth,obie trice,...,None,None,None,None,None,None,None,None,None,None

##### Exporting `matched_songs` as csv

In [221]:
matched_songs.to_csv('../data/matched_songs.csv')