# Matching Writers to Songs 

Date: 2/9/19

Matching writers to my most recent set of song matches to see what the potential pool of recommended songwriters look like

In [1]:
import json
import re

import numpy as np
import pandas as pd

In [5]:
song_list = pd.read_csv('../data/matched_songs_20190209.csv', index_col=0)
writers = pd.read_csv('../data/writers.csv', index_col=0)
cw_lookup = pd.read_csv('../data/cw_lookup.csv', index_col=0)

In [6]:
cw_lookup.head()

   CID        IPI
1    0  205786169
2    0  333982644
3    0  337563351
4    0  337563939
5    0  337564152

In [7]:
song_list.head()

,artist_name,song_id,song_title,CID,PID,Title,Performer Name
0,robyn,6SluaPiV04KOaRTOIScoff,show me love,260151.0,14428.0,show me love,robyn
3,lukas graham,5kqIPrATaCc2LqxVWzQGbk,7 years,43137.0,53876.0,7 years,lukas graham
10,the killers,3aVyHFxRkf8lSjhWdJ68AW,just another girl,76427.0,39793.0,just another girl,the killers
11,tamia,0zIyxS6QxZogHOpGkI6IZH,deeper,8897.0,14338.0,deeper,tamia
14,kanye west,12D0n7hKpPcjuUpcbAKjjr,dont like.1,68936.0,2118.0,dont like.1,kanye west

In [12]:
song_list.shape

(159438, 7)

In [9]:
song_list[['CID', 'PID']] = song_list[['CID', 'PID']].astype('int32')

In [10]:
combined_song_writer = pd.merge(song_list, cw_lookup, on='CID')

In [11]:
combined_song_writer.shape

(453372, 8)

In [13]:
combined_song_writer.head()

,artist_name,song_id,song_title,CID,PID,Title,Performer Name,IPI
0,robyn,6SluaPiV04KOaRTOIScoff,show me love,260151,14428,show me love,robyn,258547041
1,robyn,6SluaPiV04KOaRTOIScoff,show me love,260151,14428,show me love,robyn,215866753
2,robyn,4cwKBnmJ1ziA23x3ySNNrQ,show me love,260151,14428,show me love,robyn,258547041
3,robyn,4cwKBnmJ1ziA23x3ySNNrQ,show me love,260151,14428,show me love,robyn,215866753
4,robyn,4dXR9hzfJwg7ouD9iA18VR,show me love,260151,14428,show me love,robyn,258547041

In [15]:
combined_song_writer = combined_song_writer.merge(writers, on='IPI')

In [21]:
combined_song_writer.groupby('IPI').agg('count').sort_values('song_id', ascending=False)

,artist_name,song_id,song_title,CID,PID,Title,Performer Name,Writer Name,PRO
IPI,,,,,,,,,
—,17280,17280,17280,17280,17280,17280,17280,17280,17280
41051926,1672,1672,1672,1672,1672,1672,1672,1672,1672
41050341,1653,1653,1653,1653,1653,1653,1653,1653,1653
41063622,1060,1060,1060,1060,1060,1060,1060,1060,1060
344269163,1014,1014,1014,1014,1014,1014,1014,1014,1014
227110118,951,951,951,951,951,951,951,951,951
336167953,815,815,815,815,815,815,815,815,815
335994328,801,801,801,801,801,801,801,801,801
19313012,770,770,770,770,770,770,770,770,770
55054004,762,762,762,762,762,762,762,762,762
41106142,759,759,759,759,759,759,759,759,759
55054200,732,732,732,732,732,732,732,732,732
126306108,671,671,671,671,671,671,671,671,671
339431656,657,657,657,657,657,657,657,657,657
227581756,655,655,655,655,655,655,655,655,655
126291585,653,653,653,653,653,653,653,653,653
39657154,633,633,633,633,633,633,633,633,633
41054231,631,631,631,631,631,631,631,631,631
405845265,631,631,631,631,631,631,631,631,631
258732246,626,626,626,626,626,626,626,626,626
233491970,624,624,624,624,624,624,624,624,624
41104344,597,597,597,597,597,597,597,597,597
41105537,593,593,593,593,593,593,593,593,593
337678817,576,576,576,576,576,576,576,576,576
186021189,576,576,576,576,576,576,576,576,576
79032571,561,561,561,561,561,561,561,561,561
211596584,551,551,551,551,551,551,551,551,551
419848323,534,534,534,534,534,534,534,534,534
1751821,527,527,527,527,527,527,527,527,527
195344842,524,524,524,524,524,524,524,524,524
...,...,...,...,...,...,...,...,...,...
55585849,1,1,1,1,1,1,1,1,1
55475074,1,1,1,1,1,1,1,1,1
55584754,1,1,1,1,1,1,1,1,1
129962051,1,1,1,1,1,1,1,1,1
55581959,1,1,1,1,1,1,1,1,1
347565534,1,1,1,1,1,1,1,1,1
347588419,1,1,1,1,1,1,1,1,1
129964045,1,1,1,1,1,1,1,1,1
209858146,1,1,1,1,1,1,1,1,1
555610357,1,1,1,1,1,1,1,1,1
55559261,1,1,1,1,1,1,1,1,1
555558812,1,1,1,1,1,1,1,1,1
129974237,1,1,1,1,1,1,1,1,1
34758960,1,1,1,1,1,1,1,1,1
347593822,1,1,1,1,1,1,1,1,1
209850562,1,1,1,1,1,1,1,1,1
129983530,1,1,1,1,1,1,1,1,1
347648234,1,1,1,1,1,1,1,1,1
347649917,1,1,1,1,1,1,1,1,1
55514292,1,1,1,1,1,1,1,1,1
55513589,1,1,1,1,1,1,1,1,1
555101579,1,1,1,1,1,1,1,1,1
129986521,1,1,1,1,1,1,1,1,1
347662930,1,1,1,1,1,1,1,1,1
129988809,1,1,1,1,1,1,1,1,1
554989394,1,1,1,1,1,1,1,1,1
554843332,1,1,1,1,1,1,1,1,1
209784543,1,1,1,1,1,1,1,1,1
129992137,1,1,1,1,1,1,1,1,1
160170,1,1,1,1,1,1,1,1,1

In [19]:
writer_song_count = combined_song_writer.groupby(['IPI', 'Writer Name']).agg('count').sort_values('song_id', ascending=False)

In [26]:
writer_song_count[writer_song_count['song_id'] > 5].shape

(10134, 8)